<!--<div class="wrapper">-->
<!--  <div class="header">-->
<!--    <h6>{{'dummy.view.title' | translate}}</h6>-->
<!--  </div>-->
<!--  <div class="form-container">-->
<!--    <div class="row col-12">-->
<!--      <div class="form-group col-md-3 col-3 col-sm-6">-->
<!--        <label for="check_no">{{'check.view.fields.check_no' | translate}}</label>-->
<!--        <label id="check_no" type="text" class="form-control disabled"> {{data?.id}} </label>-->
<!--      </div>-->
<!--      <div class="form-group col-md-3 col-3 col-sm-6">-->
<!--        <label for="bank">{{'check.view.fields.bank_name' | translate}}</label>-->
<!--        <label id="bank" type="text" class="form-control disabled">{{data?.string}}</label>-->
<!--      </div>-->
<!--      <div class="form-group col-md-3 col-3 col-sm-6">-->
<!--        <label for="check_date">{{'check.view.fields.check_date' | translate}}</label>-->
<!--        <label id="check_date" type="text" class="form-control disabled">{{data?.createdAt | date: 'dd/MM/yyyy'}}</label>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
